body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin:0;
}

.navbar{
    background-color: grey;
}

    .navbar > a:nth-child(1){
        padding:1px;
        position:absolute;
        right:190px;
        margin-top:16px;
        color:black;
        text-decoration: none;
        }
    .navbar > a:nth-child(2){
        padding:1px;
        position:absolute;
        right:120px;
        margin-top:16px;
        color:black;
        text-decoration: none;
        }

    .navbar > a:nth-child(3){
        padding:1px;
        position:absolute;
        right:50px;
        margin-top:15px;
        }

    #dots{
        width:20px;
        height:20px;
    }
    .navbar > a:hover:nth-child(-n+2){
        text-decoration:underline;
    }
    .navbar > a:hover:nth-child(3){
        transform:scale(1.2);
    } 

#logo{
    margin-top:220px;
    margin-left:520px;
    width:272px;
    height:92px;
}

.search{
    position:relative;
}

#searchbar{
    border-radius:20px;
    height:36px;
    width:50%;
    outline:0;
    font-size:16px;
    border:1px solid rgb(196, 194, 194);
    padding-left:40px;
    position:absolute;
    top:35px;
    left:285px;     
}

#searchbar:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#magnify{
    position:absolute;
    width:17px;
    height:17px;
    top:45px;
    margin-left:300px;
    padding-top:2px;
}
#keypad{
    position:absolute;
    width:17px;
    height:17px;
    top:47px;
    right:377px;
}

#microphone{
    position:absolute;
    width:17px;
    height:17px;
    top:45px;
    right:347px;
    top:47px;
}

ul{
    background-color:rgb(241, 241, 241);
    margin-top:251px;
    list-style-type: none;
    margin-bottom: 0;
    padding: 20px;
    border-top: 1px solid rgb(190, 190, 190);
    word-spacing:1.5em;
    font-size:0.9em;
    position:relative;
    top:47px;
}

li{
    display:inline;
}
li > a{
    text-decoration: none;
    list-style: none;
    color: rgb(156, 151, 151);
    }
    .footer7{ /*Privacy*/
        float:right;
        margin-right:33px;
    }
    .footer6{ /*Terms*/
        float:right;
        margin-right:35px;
    }
    .footer5{ /*Settings*/
        float:right;
        margin-right:5px;
    }

    .footer4{
        word-spacing: 0px;
    }

    a:hover:nth-child(1){
        text-decoration:underline;
    }

    #location{
        font-size:0.9em;
        padding: 20px;
        background-color: rgb(241, 241, 241);
        color: rgb(156, 151, 151);
        position:relative;
        top:300px;
    }

